* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* scroll-behavior: smooth; */
}
.home-bg {
  background-image: url(../src/Assests/homebg.jpg);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
/* search bar css */

.position-search {
  position: absolute;
  margin: 0;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.search-bar-size {
  top: 30%;
  width: 45%;
}

/* suggestion box */
.product-five{
  width: 20% !important;
}
.sug-box-container {
  position: absolute;
  top: 40%;
  width: 50%;
  left: 50%;
  transform: translate(-50%, -10%);
}
.sug-box-wrapper {
  box-shadow: 1px 1px 10px 1px rgb(154, 154, 154);
  background-color: #fff;
  padding: 1em 0.2em;
}
.latest-trends {
  margin-bottom: 10px;
}
.latest-trends h6 {
  font-size: 12px;
}
.trending-outfit img {
  object-fit: cover;
  width: 100%;
  height: 10em;
}
.outfit-title h6 {
  font-size: 14px;
}
.link-title{
  text-decoration: none;
  color: rgb(26, 26, 26);
}
.link-title:hover{
  color: black;
}
/* product page search bar */

.product-search {
  position: relative;
  top: 10%;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 40%);
  margin: 1.5em 0em;
}
.search-result {
  margin-top: 3em;
}
/* rating css */
.checkClass {
  display: flex;
}
.checkClass label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.3em;
  margin-bottom: 0.2em;
}
.checked {
  color: orange;
}
/* CARD css */
.product-card-wrapper{
  margin-bottom: 1em;
}
.product-image{
  box-shadow: 1px 1px 2px 2px lightgrey;
  position: relative;
  overflow: hidden;
}
.product-wishlist-btn{
  position: absolute;
  top: 0;
  font-size: 1.2em;
  right: 0.4em;
  cursor: pointer;
  color: white;
}

#wish-btn-color{
  color: red !important;
}
.product-btn{
  position: absolute;
display: flex;
top: 130%;
transition: all ease-in-out 0.2s;
width: 100%;
background-color: rgba(0, 0, 255, 0.472);
left: 50%;
transform: translate(-50%,-100%);  
}
.product-btn button:hover{
  color: white;
}
.product-image:hover .product-btn{
  transition: all ease-in-out 0.2s;
  top: 100%;
  cursor: pointer;
}
.product-btn button{
color: white;
width: 100%;
}
.product-image img {
  object-fit: cover;
  height: 15em;
  width: 100%;
}
.price{
  color: gray;
  text-decoration: line-through;
  font-size: 14px;
}
.offer-price{
 color:  rgba(0, 0, 255, 0.806);
 font-weight: 500;
}

/*MEDIA QUERY TAB  */
@media (max-width:786px) {
  .product-five{
    width: 33.33333% !important;
  }
  .search-bar-size{
    width: 80%;
  }
  .sug-box-container{
    width: 90%;
  }
  .product-search{
    width: 85%;
  }
  .only-product-three{
    width: 33.3333%;
  }
  .text-short{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
/* MEDIA QUERY MOBILE */
@media (max-width:450px){
  .product-five{
    width: 33.3333% !important;
  }
  .only-product-three{
    width: 50%;
  }
  .trending-outfit img {
    object-fit: cover;
    height: 5em;
  }

}