* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* scroll-behavior: smooth; */
}
.home-bg {
  background-image: url(../src/Assests/homebg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
/* search bar css */
.home-container {
  position: relative;
  width: 100vw;
  height: 100%;
}
.position-search {
  position: absolute;
  /* margin: 0; */
  left: 50%;
  top: 20%;
  width: 50%;
  transform: translate(-50%, 0%);
}

.search-bar {
  width: 80%;
  margin: auto;
}
/* suggestion box */
.product-five {
  width: 20% !important;
}
.suggestion-box-container {
  position: absolute;
  top: 100%;
  width: 100%;
  margin-top: 0.5em;
}
.sug-box-container {
  margin: auto;
}
.sug-box-wrapper {
  box-shadow: 1px 1px 10px 1px rgb(154, 154, 154);
  background-color: #fff;
  padding: 1em 0.2em;
}
.latest-trends {
  margin-bottom: 10px;
}
.latest-trends h6 {
  font-size: 12px;
}
.trending-outfit img {
  object-fit: cover;
  width: 100%;
  height: 10em;
}
.outfit-title h6 {
  font-size: 14px;
}
.link-title {
  text-decoration: none;
  color: rgb(26, 26, 26);
}
.link-title:hover {
  color: black;
}
/* product page search bar */

.product-search {
  position: relative;
  top: 10%;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 40%);
  margin: 1.5em 0em;
}
.search-result {
  margin-top: 3em;
}
/* rating css */
.checkClass {
  display: flex;
}
.checkClass label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.3em;
  margin-bottom: 0.2em;
}
.checked {
  color: orange;
}
/* CARD css */
.product-card-wrapper {
  margin-bottom: 1em;
}
.product-image {
  box-shadow: 1px 1px 2px 2px lightgrey;
  position: relative;
  overflow: hidden;
}
.product-wishlist-btn {
  position: absolute;
  top: 0;
  font-size: 1.2em;
  right: 0.4em;
  cursor: pointer;
  color: rgb(255, 0, 0);
}

#wish-btn-color {
  color: red !important;
}
.product-btn {
  position: absolute;
  display: flex;
  top: 130%;
  transition: all ease-in-out 0.2s;
  width: 100%;
  background-color: rgba(0, 0, 255, 0.472);
  left: 50%;
  transform: translate(-50%, -100%);
}
.product-btn button:hover {
  color: white;
}
.product-image:hover .product-btn {
  transition: all ease-in-out 0.2s;
  top: 100%;
  cursor: pointer;
}
.product-btn button {
  color: white;
  width: 100%;
}
.product-image img {
  object-fit: cover;
  height: 15em;
  width: 100%;
}
.price {
  color: gray;
  text-decoration: line-through;
  font-size: 14px;
}
.offer-price {
  color: rgba(0, 0, 255, 0.806);
  font-weight: 500;
}
.text-short {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/*MEDIA QUERY TAB  */
@media (max-width: 786px) {
  .product-five {
    width: 33.33333% !important;
  }
  .product-btn {
    top: 100%;
  }
  .position-search {
    width: 70%;
  }
  .search-bar-size {
    width: 80%;
  }
  .sug-box-container {
    width: 100%;
  }
  .product-search {
    width: 85%;
  }
  .only-product-three {
    width: 33.3333%;
  }
  .text-short {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
/* MEDIA QUERY MOBILE */
@media (max-width: 450px) {
  .product-five {
    width: 33.3333% !important;
  }
  .only-product-three {
    width: 50%;
  }
  .trending-outfit img {
    object-fit: cover;
    height: 5em;
  }
  .position-search {
    width: 90%;
  }
  .latest-trends h5,
  .popular-suggestions h5 {
    font-size: 16px;
  }
  .sug-box-wrapper {
    padding: 0.5em 0;
  }
  .outfit-title h6 {
    font-size: 14px;
  }
}
