*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* scroll-behavior: smooth; */
}
.home-bg{
  background-image: url(../src/Assests/homebg.jpg);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;  
}
/* search bar css */

.position-search{
  position: absolute;
  margin: 0;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.search-bar-size{
  top: 30%;
  width: 45%;
}

/* suggestion box */
.sug-box-container{
  position: absolute;
  top: 40%;
  width: 50%;
  left: 50%;
  transform: translate(-50%,-10%);
   
}
.sug-box-wrapper{
  box-shadow: 1px 1px 10px 1px rgb(154, 154, 154); 
  background-color: #fff;
  padding: 1em 0.2em;
}
.latest-trends{
  margin-bottom: 10px;
}
.latest-trends h6{
  font-size: 12px;
}
.trending-outfit img{
  object-fit: contain;
  width: 100%;
  height: 8em;
}
.outfit-title h6{
 font-size: 14px;
}
/* product page search bar */

.product-search{
  position: relative;
  top: 10%;
  width: 50%;
  left: 50%;
  transform: translate(-50%,40%);
  margin: 1.5em 0em;
}
.search-result{
  margin-top: 3em;
}
/* rating css */
.checkClass{
  display: flex;
}
.checkClass label{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.3em;
  margin-bottom: 0.2em;  
}